*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  
}

.text{
  color:white
}
.btnhover:hover{
  background-color:rgb(61, 61, 61)
}
.btnclr{
  background-color:rgb(61, 61, 61) ;
  font-size: 15px;
  font-weight: 500;

}
.btnclr:hover{
  background-color:rgb(104, 104, 104) ;
}
/* custom scrollbar */
::-webkit-scrollbar{
  width:12px;
  background: black;
  height:0.5px
}
::-webkit-scrollbar-thumb{
  background:rgb(153, 153, 153);
  border-radius: 10px;
}


@media only screen and (max-width: 600px) {
  
  .category{
    display: none;
  }
  .hide{
  display:none}

  .videos{
    margin-left: -180px;
   
  }
  .header{
    position:relative;
  }
  
  .youtubevideo{
    margin-left:-100px;
   
  }
  .video1{
    margin-top:-140px;
  }
  .video2{
    margin-top: -150px;
  }
 
}